body {
  background-color: lightblue;
}

.container {
  margin-top: 2em;
  background-color: #fff;
  padding: 1em;
  border-radius: 3px;
}

form.ui.form textarea {
  border: 1px solid #fff;
  cursor: pointer;
}

form.ui.form textarea:focus, form.ui.form textarea:hover {
  border: 1px solid darkslateblue;
}
