* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightseagreen;
}

.container {
  width: 1000px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.toolbar {
  width: 1000px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.resume {
  display: flex;
  padding: 30px;
}

.ql-editor ol,
.ql-editor ul {
  padding-left: 0;
}

h1,
h2 {
  color: lightseagreen;
}
